
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
>
 
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body>
	<div layout:fragment="content">
	<div class="container pt-3">
 <div class="form-group">
 <div class="jumbotron text-center">
					<div>
	<table  class="table table-striped">
		<tr>
			<th scope="col">Nom</th>
				<th scope="col">Auteur</th>
				<th scope="col">Type</th>
				<th scope="col">Section</th>
				<th scope="col">Emplacement</th>
				<th scope="col">Nombre d'exemplaire</th>
		</tr>
		<tr th:each="book:${bookPage}" >
				<td th:text="${book.nom}"></td>
				<td th:text="${book.auteur}"></td>
				<td th:text="${book.type}" ></td>
				<td th:text="${book.section}"></td>	
				<td th:text="${book.emplacement}"></td>	
				<td th:text="${book.nombreExemplaire}"></td>	
			</tr>
	
	</table>
	<div th:if="${bookPage.totalPages > 0}" class="pagination"
    th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/books(size=${bookPage.size}, page=${pageNumber})}"
        th:text=${pageNumber}
        th:class="${pageNumber==bookPage.number + 1} ? active"></a>
</div>
	</div>
	</div>
	<!-- <table border="1">
    <thead>
    	<tr>
				<th scope="col">Nom</th>
				<th scope="col">Auteur</th>
				<th scope="col">Type</th>
				<th scope="col">Section</th>
				<th scope="col">Emplacement</th>
				<th scope="col">Nombre d'exemplaire</th>
		</tr>
				
    </thead>
    <tbody>
        <tr th:each="book, iStat : ${bookPage}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
         	<td th:text="${book.nom}"></td>
				<td th:text="${book.auteur}"></td>
				<td th:text="${book.type}" ></td>
				<td th:text="${book.section}"></td>	
				<td th:text="${book.emplacement}"></td>	
				<td th:text="${book.nombreExemplaire}"></td>	
        </tr>
    </tbody>
</table>
<div th:if="${bookPage.totalPages > 0}" class="pagination"
    th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listBooks(size=${bookPage.size}, page=${pageNumber})}"
        th:text=${pageNumber}
        th:class="${pageNumber==bookPage.number + 1} ? active"></a>
</div>
	</div> -->

				</div>
				</div>		
</div>	
</body>